// theme collors
$primary: #122727;
$secondary: #c78829;
$light: rgba($primary, 0.1);
$text-color-primary: #212529;

$dark: #333;
$light: #d1dbe0;

// fonts
$font-headings: 'Zilla Slab';
$font-main: 'Roboto';

// Border
$border-light: #eee;
$border-dark: $dark;

// Buttons
$button-primary-bg-hover: #4d6666;