.header {
  background-color: $primary;
  background-image: url('./../assets/graphics/noise.png');
  background-repeat: repeat;
  background-blend-mode: overlay;

  box-shadow: 0px 0px 30px -10px rgba(0,0,0,0.9);

  .logo {
    display: flex;
    width: 75px;
    padding: 8px;
    margin: 0 auto;

    &:hover {
      text-decoration: none;
      border-bottom: none;
    }
  }

  .top-nav {
    display: flex;
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 10px 0 12px;

    li {
      margin: 0 1rem;
    }
  }

  a:not(.logo) {
    font-family: $font-main;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    transition-duration: 300ms;
    border-bottom: 2px solid transparent;
    padding-bottom: 2px;
    
    &:hover {
      border-bottom: 2px solid white;
      transition-duration: 300ms;
    }
  }


  @media (max-width: 768px) {
    a.logo {
      display: none;
    }
    
    ul {
      flex-direction: column;      
      margin: 0 auto;
  
      li {
        margin-bottom: 8px;
        text-align: center;
      }
    }
  }

}